<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/estilo.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Estudos em Angular JS</title>
</head>

<body>
    <main ng-app="controller" ng-controller="MeuController as Controller" ng-init="num1=10;num2=10;">
        <input type="number" ng-model="num1">
        <span>+</span>
        <input type="number" ng-model="num2">
        <span> = {{num1 + num2}}</span>
        <br><br>
        <hr><br>
        <button type="button" ng-click="Controller.alerta()">Exibir alerta</button>
    </main>
</body>
<script src="controller.js"></script>

</html>